<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
    <body>
        {% block body %}

        <ul>
        {% for post in post %}
            <li>{{ post.title }}</li>
            <li>{{ post.body }}</li>
        {% endfor %}
        </ul>
        {%  endblock %}
    </body>

</html>